<!DOCTYPE html>
<html lang="en">
<head>
  <title>Code Together Account Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css"> 
</head>
<body>
  <div class="container">
    <h2>Code Together Login</h2>
    <h3>Enter login credentials</h3>
    <form action="loginPage.php">
      <div class="form-group">
        <label for = "email"> Email: </label>
        <input type = "email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd"> Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
      </div> 
      <div class = "checkbox">
      <label>
      <input type="checkbox" checked="checked" name="rememberme"> 
      <label for ="rememberme"> Remember Me:</label> 
    </label>
    </div>
      <div class ="wrap">  
      <button type="submit" class="button1">Submit</button>
      </div>
  </form>
  <p>Not Registered?
    <a href = "#" style = "text-decoration: none;">
      Create Account
    </a>
  </p>
</div>

</body>
</html>
